<footer id="contact">
    <div class="f-info sticky-bottom">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>

        <div style="color: white;">
            &copy; All rights reserved.
        </div>

        <div class="f-info-links">
            <a href="#">Privacy</a> &nbsp; &nbsp; &nbsp;
            <a href="#">Terms</a>
        </div>
    </div>
</footer>