<nav class="navbar navbar-expand-lg bg-body-white sticky-top border-bottom">
        <div class="container-fluid">
          <a class="navbar-brand fs-1 fw-bold" href="/blogs">Creative<span style="color: rgb(255, 133, 2);">Verse</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/blogs">Home</a>
              <a class="nav-link" href="/blogs/myblogs">My Blogs</a>
              <a href="#contact" class="nav-link">Contact Us</a>
            </div>

            <div class="navbar-nav">
              <% if(!CurrentUser) {%>
                <a class="nav-link active mt-2" aria-current="page" href="/signup">Sign Up</a>
                <a class="nav-link mt-2" href="/login">Log in</a>
              <% } %>
              <% if(CurrentUser) {%>
                <a class="nav-link mt-2" href="/logout">Log out</a>
              <% } %>
                <a class="nav-link fs-2 fw-bold create-blog-text" href="http://localhost:3001/blogs/new" style="color: rgb(255, 133, 2);">Create Your Blog</a>
            </div>

          </div>


        </div>
      </nav>