
    <%layout("layouts/boilerplate.ejs")%>
   <div class="formcontainer">
    <!-- <div>
        <div> -->
            <form action="/blogs" method="post" id="form" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title: </label> <br><br>
                    <input type="text" name="blog[title]" id="title" placeholder="Enter" class="form-control"  required>
                </div>
    
                <div class="mb-3">
                    <label for="author" class="from-label">Author: </label><br><br>
                    <input type="text" name="blog[author]" id="author" placeholder="author.." class="form-control" required>
                </div>
    
                <!-- <div class="mb-3">
                    <label for="dateCreated" class="form-label">Date of Writing Blog: </label><br><br>
                    <input type="date" name="blog[dateCreated]" id="dateCreated" placeholder="date created.." class="form-control" >
                </div> -->
    
                <div class="mb-3">
                    <label for="tag" class="form-label">Tags: </label><br><br>
                    <input type="text" name="blog[tag]" id="tag" placeholder="tags about the blog.." class="form-control" required >
                </div>          
    
                <div class="mb-3">
                    <label for="image" class="form-label">Enter the Url for the image: </label><br><br>
                    <input type="text" name="blog[image]" id="image" placeholder="Enter the url of the image....." class="form-control" >
                </div>
    
                <div class="mb-3">
                    <label for="description" class="form-label">Describe your Blog in one line: </label> 
                    <textarea name="blog[description]" id="description" cols="40" rows="10" placeholder="One line description about your Project" class="form-control" required></textarea>
                </div>     
    
                <p>**You have to write your Blog in 4 sections</p>
    
                <div class="mb-3">
                    <label for="content1" class="form-label">Enter the content one: </label><br><br>
                    <textarea name="blog[content1]" id="content1" cols="50" rows="10" class="form-control" required ></textarea>
                </div>
    
                <div class="mb-3">
                    <label for="content2" class="form-label">Enter the content two: </label><br><br>
                    <textarea name="blog[content2]" id="content2" cols="50" rows="10" class="form-control" ></textarea>
                </div>
    
                <div class="mb-3">
                    <label for="content3" class="form-label">Enter the content three: </label><br><br>
                    <textarea name="blog[content3]" id="content3" cols="50" rows="10" class="form-control" ></textarea>
                </div>
    
                <div class="mb-3">
                    <label for="content4" class="form-label">Enter the content four: </label><br><br>
                    <textarea name="blog[content4]" id="content4" cols="50" rows="10" class="form-control" ></textarea>
                </div>
                
                <button class="btn">Create</button>
            </form>
        <!-- </div>
      </div> -->

   </div>